.container{
    margin: 0px 15px 0px 15px;
}

.row{
    display: flex;
    flex-direction: row;
    border: 1px solid #cfcfcf;
}
.col-center{
    display: flex;
    width: 20%;
    justify-content: center;
}
.col{
    display: flex;
    width: 20%;
    padding: 5px;
    align-items: center;
}